use flake

if [[ ! -d .venv ]]; then
  echo "[INFO] Creating virtual environment..."
  python -m venv .venv
  echo "[INFO] Done."
fi

echo "[INFO] Starting Virtual Environment..."
source .venv/bin/activate
echo "[INFO] Ready"
