.venv
.direnv
InstruMate-Africa.git/
instrumate/.env
instrumate/api/migrations/
instrumate/auth_/migrations
instrumate/auth_/__pycache__
instrumate/api/__pycache__
instrumate/translation_model/
instrumate/bvh_files.db
instrumate/__pycache__
instrumate.zip
instrumate/instrumate/__pycache__
instrumate/api/utils/__pycache__/
instrumate/mvmt.sqlite3
*.sqlite3
