Django==6.0.5
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
nltk==3.9.4
pymupdf==1.27.2.3
python-dotenv==1.2.2
redis==7.4.0
Requests==2.34.2
django-cors-headers==4.9.0
psycopg2-binary==2.9.12