asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
click==8.4.1
Django==6.0.5
django-cors-headers==4.9.0
django-stubs==6.0.6
django-stubs-ext==6.0.6
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
idna==3.18
joblib==1.5.3
nltk==3.9.4
psycopg2-binary==2.9.12
PyJWT==2.9.0
PyMuPDF==1.27.2.3
python-dotenv==1.2.2
redis==7.4.0
regex==2026.5.9
requests==2.34.2
sqlparse==0.5.5
tqdm==4.68.3
types-PyYAML==6.0.12.20260518
typing_extensions==4.15.0
urllib3==2.7.0
